#root {
    width: 100%;
    height: 100%;
}

#card-indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

#card-indicator > .card-name {
    font-family: "Sekuya", system-ui;
    font-size: 18pt;
    letter-spacing: 0.1em;
    margin: 7px 0 7px;

    opacity: 0.5;
    transform-origin: left;
    transition: all 0.1s;
    user-select: none;
}

#card-indicator > .card-name.active {
    opacity: 1;
    /* margin-left: 20px;  */
    transform: scale(1.4);
}

#cards-left{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;

    font-family: "Sekuya", system-ui;
    font-size: 18pt;
    letter-spacing: 0.1em;
    user-select: none;
}

#start-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    background-color: white;
    border: 4px solid black;
    border-radius: 9px;
    font-family: "Sekuya", system-ui;
    font-size: 18pt;
    letter-spacing: 0.1em;
    user-select: none;
    opacity: 0;
    pointer-events: none;

    transition: transform 0.1s, opacity 0.1s;
}

#start-button.active{
    opacity: 1;
    pointer-events: all;
}

#start-button.active:hover{
    transform: translate(-50%, -50%) scale(1.1);
}

#stats-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    padding-bottom: 50px;
    width: 300px;

    font-family: "Sekuya", system-ui;
    background-color: white;
    border: 4px solid black;
    border-radius: 9px;
    color: #383838;
    font-size: 10pt;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    
    transition: opacity 0.1s;
}

#stats-container.active{
    opacity: 1;
    pointer-events: all;
}

#reaction-time{
    color: #000000;
    font-size: 12pt;
}

#try-again{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin: 5px;
    padding: 5px;

    background-color: #dbdbdb;
    color: #000000;
    border: 3px solid black;
    border-radius: 9px;
    user-select: none;
    transition: transform 0.1s;
}

#try-again:hover{
    transform: translateX(-50%) scale(1.05);
}

#loading-window{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;

    background-color: white;
    opacity: 1;
    transition: opacity 0.5s;
}

#loading-window.done{
    opacity: 0;
    pointer-events: none;
}

#loading-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    max-width: calc(100vw - 50px);
    height: 10px;

    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

#loading-progress{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    background-color: #81a9ff;
    transition: width 0.1s;
}